<!DOCTYPE html>
<html>
<head>
    <title>Sai Fashion Zone</title>

    <link rel="stylesheet" href="/static/style.css">

</head>
<body>

<header>
    <h1>Sai Fashion Zone</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/shirts">Shirts</a>
    <a href="/pants">Pants</a>
    <a href="/tshirts">T-Shirts</a>
    <a href="/nightpants">Night Pants</a>
</nav>

<div class="products">

    <h2>Our Products</h2>

    <div class="product-list">

        <div class="product">
            <a href="/tshirts">T-shirts</a>
        </div>

        <div class="product">
            <a href ="/shirts">Shirts</a>
        </div>

        <div class="product">
            <a href="/pants">Pants</a>
        </div>

        <div class="product">
            <a href="/nightpants">Night Pants</a>
        </div>

    </div>

</div>

</body>
</html>