<!DOCTYPE html>
<html>
<head>
    <title>Shirts - Sai Fashion Zone</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <h1>Sai Fashion Zone</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/shirts">Shirts</a>
    <a href="/pants">Pants</a>
    <a href="/tshirts">T-Shirts</a>
    <a href="/nightpants">Night Pants</a>
</nav>

<div class="products">

    <h2>Shirts Collection</h2>

    <div class="product-list">

    {% for shirt in shirts %}

        <div class="product">

            <img src="{{ url_for('static',
         filename='images/' + shirt.image) }}">

            <h3>{{ shirt.name }}</h3>

            <p>Price: ₹{{ shirt.price }}</p>

        </div>

    {% endfor %}

    </div>
</div>

</body>
</html>