<!DOCTYPE html>
<html>
<head>
    <title>T-shirts - Sai Fashion Zone</title>

    <link rel="stylesheet"
          href="/static/style.css">
</head>
<body>

<header>
    <h1>Sai Fashion Zone</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/shirts">Shirts</a>
    <a href="/pants">Pants</a>
    <a href="/tshirts">T-Shirts</a>
    <a href="/nightpants">Night Pants</a>
</nav>

<div class="products">

    <h2>T-Shirts Collection</h2>

    <div class="product-list">

        <div class="product">

           <img src="/static/images/Tshirts.jpeg" width="150">

            <h3>Cotton T-Shirt</h3>
            <p>Price: ₹799</p>
        </div>

        <div class="product">
            <h3>Polo Shirt</h3>
            <p>Price: ₹599</p>
        </div>

        <div class="product">
            <h3>Crew shirt</h3>
            <p>Price: ₹699</p>
        </div>

    </div>

</div>

</body>
</html>